
body{
  background-color: black;
}
.header{
  text-align: center;
}

.header h1{
  color: white;
}

.header h4{
  color: blue;
}

.continents-container{
  display: flex;
  justify-content: center;
}

.continents-card {
  position: relative;;
  margin: 10px;
  
}
.continents-card img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px whitesmoke
}
.continent-name{
  padding-left: 10px;
  position: absolute;
  bottom:0;
  color: aliceblue;
  
}
.continent-name >*{
  margin-left: 5px;
}
